* {
    padding: 0;
    margin: 0;

    box-sizing: border-box;
}

.calc-container {
    border: 2px solid red;
    padding: 30px;
    display: flex;
    gap: 50px;
}

/* CALCULATOR FORM */

form {
    border: 2px solid purple;
    padding: 10px;
    max-width: 300px;
    height: auto;
}

form input {
    padding: 10px 10px;
    width: 100%;
    font-size: 18px;
}

form input[type="button"] {
    max-height: 60px;
    text-align: center;
    font-size: 18px;
    cursor: pointer;
}

.buttons {
    display: grid;
    grid-template-columns: 75% 25%;
    text-align: center;

    padding: 10px;
}

.calc-buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
}

.calc-operations {
    padding: 0 5px;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    gap: 5px;
}

.calc-cta {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin: 10px auto;
}

.calc-cta input[type="button"] {
    max-width: 60px;
    font-size: 20px;
}

/* CALCULATOR HISTORY */

.calc-history {
    border: 2px solid black;
    min-width: 300px;
    padding: 30px;
}