* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  font-family: Rubik, sans-serif;
}

body {
  overflow: hidden;
}

/* REUSABLES */

button {
  padding: 5px 18px;
  max-height: 35px;
  align-items: center;
  text-align: center;
}

.primary:hover {
  box-sizing: border-box;
  transform: scale(1.05);
  cursor: pointer;
}

.secondary:hover {
  box-sizing: border-box;
  transform: scale(1.05);
  cursor: pointer;
}

.primary {
  background-color: black;
  color: white;
  padding: 10px;
  border-radius: 5px;
  padding: 5px auto;
  max-height: 100%;
}

.secondary {
  background-color: white;
  color: black;
  border-radius: 5px;
  border: 1px solid gray;
  padding: 5px auto;
  max-height: 100%;
}

/* <----- NAVIGATION BAR ------> */

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 30px 80px;
  background-color: rgb(231, 233, 235);

  /* border: 2px solid red; */
}

.logo img {
  height: 15px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 80px;
  justify-content: space-between;

  max-width: 60%;
}

.nav-links a {
  text-decoration: none;
  color: black;
  font-weight: 600;
}

.nav-link-container:hover {
  cursor: pointer;
  transform: scale(1.05);
}

body {
    background-color: rgb(244, 245, 247);
}

/* <----- TODO CONTAINER -----> */

.todo-container {
  /* border: 2px solid red; */
  margin: 40px auto;
}

.todo-container h1 {
  text-align: center;
}

.todo-container h1 span {
  color: rgb(126,86,218);
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px auto;

  display: flex;
  flex-direction: column;
  gap: 10px;

  /* border: 2px solid purple; */
}

form input[type="text"] {
  padding: 10px 10px;
  border-radius: 5px;
  min-width: 500px;
}

form input[type="text"]::placeholder {
  color: gray;
  text-align: center;
  font-size: 18px;
}

form input[type="text"]:focus {
  outline: none;
  border: 1.5px solid black;
  border-radius: 5px;
  padding: 10px 10px;
  text-align: center;
}

form input[type="text"]:focus::placeholder {
  color: transparent;
}

form input[type="button"] {
  cursor: pointer;
  font-weight: medium;
  padding: 5px 10px;
  background-color: rgb(126,86,218);
  border: none;
}

form input[type="button"]:hover {
  background-color: rgb(111, 75, 196);;
  color: white;
  transform: scale(1.05);
}

.todo-list-container {
  /* border: 2px solid black; */
  border-radius: 10px;
  width: 50%;
  margin: 0 auto;
  padding: 10px;

  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-between;

  box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.3);
}

.clear-todo {
    max-width: 80px;
    margin: 0 auto;
    padding: 5px 10px;
    text-align: center;
    border-radius: 3px;
}

.todo-item {
  margin: 5px auto;
}

.todo-cta {
  display: flex;
  gap: 5px;
  /* border: 2px solid purple; */
}

.delete-btn {
  padding: 2px;
}

.edit-btn {
  padding: 2px;
}

#todo-list {
  /* border: 2px solid red; */
}

#todo-list li {
  display: flex;
  justify-content: space-between;
  margin: 5px auto;
  max-width: 90vh;
  padding: 2px 10px;

  /* border: 2px solid black; */
}

.todo-delete {
    border-radius: 5px;
}

.todo-delete:hover {
  background-color: tomato;
  color: white;
  transform: scale(1.05);
}